!!! 5
html
  head
    include includes/head
  body
    #wrapper
      section.content
        include includes/header
        h2 2014, Hamburg
        a(href='mailto:contact@jsunconf.eu') contact@jsunconf.eu

      section.fixsmallcontent
        div.footer.left
          include includes/footer-left
        div.footer.right
          include includes/footer-right